@model BaseViewModel 

<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a asp-controller="Projetos" asp-action="Index" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a asp-controller="Forum" asp-action="Index" class="nav-link">Duvidas?</a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      

        <li class="nav-item">
            <div class="nav-link" href="#" role="button">
                <i class="fas fa-user"></i> @Model.Usuario!.Nome | Sair  <a asp-controller="Login" asp-action="Index"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
            </div>
        </li>
    </ul>
</nav>